*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: hsl(210, 46%, 95%);
}
.container{
    display: grid;
    height: 80vh;
    width: 80vw;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "item-1 item-1 item-2 item-3"
    "item-4 item-5 item-5 item-3";
    gap: 30px;

}
.item{
    border: 1px solid black;
    border-radius: 10px;
}

.item-1{
    grid-area: item-1;
    padding: 30px;
    background: hsl(263, 55%, 52%);
}
.item-2{
    grid-area: item-2;
    padding: 30px;
    background: hsl(217, 19%, 35%);
}
.item-3{
    grid-area: item-3;
    padding: 30px;
    background: hsl(0, 0%, 100%);

}
.item-4{
    grid-area: item-4;
    padding: 30px;
    background: hsl(0, 0%, 100%);
}
.item-5{
    grid-area: item-5;
    padding: 30px;
    background: hsl(219, 29%, 14%);
}
.first{
    display: flex;
    align-items: center;
}
.daniel{
    flex-grow: 1;
}
.h41{
   
    margin-bottom: 4px;
}
.h42{
    font-weight: 4px;
}
img{
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.p1{
    font-weight: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.h41, .h42, .p1, .p2 {
    color: white;
}
.h33{
    margin-bottom: 4px;
}
.h33, .h44, .p3, .p4{
    color: black;
}
 
.p3{
    font-weight: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
